@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

* {
  /* border: orange solid 1px; */
  font-family: "Nanum Gothic", sans-serif;
  /* font-weight: 400; */
  font-style: normal;
}

main * {
  text-shadow: 0 0 10px #b6cdb6;
}

#logo {
  filter: invert(52%) sepia(27%) saturate(822%) hue-rotate(100deg)
    brightness(97%) contrast(88%);
}
.dark #logo {
  filter: invert(70%) sepia(12%) saturate(1663%) hue-rotate(100deg)
    brightness(90%) contrast(81%);
}
