@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

* {
  /* border: orange solid 1px; */
  /* font-family: "Nanum Gothic", sans-serif; */
  /* font-weight: 400; */
  /* font-style: normal; */
}
body {
  overflow-x: hidden;
}

.customSvgColour {
  filter: invert(11%) sepia(57%) saturate(5086%) hue-rotate(213deg)
    brightness(93%) contrast(94%);
}

.dark .customSvgColour {
  filter: invert(78%) sepia(31%) saturate(5170%) hue-rotate(188deg)
    brightness(100%) contrast(94%);
}

@layer base {
  :root {
    --text: #020d2c;
    --background: #edeff3;
    --subBackground: #e3e6ee;
    --primary: #083781;
    --secondary: #6b56f5;
    --accent: #390dd9;
    --subtext: #717171;
  }
  .dark {
    --text: #d3defd;
    --background: #0c0e12;
    --subBackground: #141821;
    --primary: #7eacf7;
    --secondary: #7ef7bf;
    --accent: #5226f2;
    --subtext: #acacac;
  }
}
